
<div class= peruvian>

<h3 class="subtitle"> hello from child counter-component.component.html</h3>

<p>  myFriend: {{myFriend}}  </p>
<p>count in counter-component.component.html is {{count}}</p>
<p>increment and decrement functions also emit to binder2</p>
<button class='button is-info' (click)='increment()'>call Increment</button> &nbsp;
<button class='button is-info' (click)='decrement()'>call Decrement</button> &nbsp;
<button class='button is-info' (click)='passBackMyFriend()'>passBackMyFriend</button> &nbsp;
<button class='button is-info' (click)='passBackgdArr()'>passBackgdArr</button> &nbsp;

</div>